body{
  background-color: black;
  width: 100%;
  margin: 0;
}

#title{
  position: absolute;
  top: 15%;
  left: 25%;
  color: white;
  width: 50%;
  font-size: 45px;
  text-align: center;
  font-family: 'Zilla Slab Highlight', cursive;
}

.post{
  position: absolute;
  top: 30%;
  left: 20%;
  background-color: white;
  width: 60%;
  border-radius: 5px;
}

.title{
  text-align: center;
  font-size: 40px;
  font-family: 'Noto Sans', sans-serif;
}

.content{
  font-family: 'Poppins', sans-serif;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
