body{
  width: 100%;
  margin: 0;
  padding-top: 4.5%;
}

#navbar{
  top: 0;
  background-color: black;
  position: absolute;
}

#header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 13%;
  width: 35%;
  background-color: #E5E7E9;
  padding-left: 19.5%;
  padding-right: 19.5%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px 7px 0px 0px;
  border-style: solid none none none;
  border-width: 2px;
}

#header > img{
  flex: .5;
  width: 20%;
  height: 20%;
}

.projects{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.project{
  width: 74%;
  margin-left: 13%;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 5%;
  background-color: white;
}

.grey{
  background-color: #E5E7E9;
}

.title{
  text-align: center;
  margin-top: 2%;
  font-size: 35px;
  font-family: 'Noto Sans', sans-serif;
}

.description{
  text-align: center;
  margin-top: 2%;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.project > img{
  width: 60%;
  margin-left: 20%;
}
