body{
    background-color: white;
}

h1{
    color: black;
}

h2{
    color: black;
}

h3{
    color: black;
}

p{
    color: black;
}

li{
    color: black;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #004080;
}

.current{
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 14px 16px;
    font-weight:bold;
    color: white;
    cursor: pointer;
}

.menuitem{
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 14px 16px;
    color: white;
    cursor: pointer;
}

.menuitem:hover{
    font-weight:bold;
    background-color: #3399ff;
    color: black;
    cursor: hand;
}

.footer{
    margin-top: 60px;
}

.lowerListItem{
    margin-top: 30px;
}

.title{
    text-align: center;
}

.picture{
    display: block;
    margin: auto;
}