body{
  width: 100%;
  margin: 0;
}

.selected{
  border-style: solid;
  border-radius: 4px 0 4px 0;
  border-width: 1px;
  border-color: black;
}

#main{
  background: url('../pictures/main.jpg');
  display: flex;
}

#main-background{
   width: 100%;
   height: 100%;
}

#nameandtitle{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 65px;
  text-align: center;
  font-family: 'Zilla Slab Highlight', cursive;
}

.information{
  display: flex;
}

.about{
  flex: 1;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 60px;
  padding-right: 60px;
}

.about > img{
  width: 60%;
  height: auto;
}

.about > h1{
  height: 15%;
  font-family: 'Noto Sans', sans-serif;
}

.about > h2{
  margin-top: 15%;
  font-family: 'Poppins', sans-serif;
}

#secondary{
  background: url('../pictures/main.jpg');
  display: flex;
  position: relative;
}

#secondary-background{
   width: 100%;
   height: 100%;
}

#quoteandauthor{
  color: white;
  top: 45%;
  position: absolute;
  font-family: 'Zilla Slab Highlight', cursive;
}

#quote{
  font-size: 60px;
  width: 60%;
  margin-left: 30%;
  display: none;
}

#author{
  font-size: 35px;
  width: 30%;
  margin-left: 60%;
  display: none;
}

.social-media{
  flex: 1;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.social-media > a > img{
  width: 35%;
  height: auto;
}
