.head-shadow{
    background-image: url('https://www.ethwillz.com/pictures/main.png');
    width: auto;
    height: auto;
}

.pics{
    position: relative;
    margin-left: 60px;
 }

.flipy, .container{
    display: inline-block;
    vertical-align: top;
}

.container{
    height:540px;
    width:437px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
}

#top{
    margin-bottom: 20px;
}

.flipx{
    perspective: 1000px;
}

.flipx:hover .flipper, .flipx.hover .flipper{
    transform: rotateY(180deg);
}

.flipx, .flipx .flipper .front, .flipx .flipper .back{
    height: 270px;
    width: 437px;
}

.flipx .flipper{
    transition: 0.9s;
    transform-style: preserve-3d;
    position: relative;
}

.flipx .front, .flipx .back{
    backface-visibility: hidden;
    border-radius: 7px;
    position: absolute;
    top: 0;
    left: 0;
}

.flipx .front{
    z-index: 2;
    transform: rotateY(0deg);
}

.flipx .back{
    transform: rotateY(180deg);
    background: #ffffff;
}

.flipy{
    perspective: 1000px;
}

.flipy:hover .flipper, .flipy.hover .flipper{
    transform: rotateY(180deg);
}

.flipy, .flipy .flipper .front, .flipy .flipper .back{
    height: 573px;
    width: 320px;
}

.flipy .flipper{
    transition: 0.9s;
    transform-style: preserve-3d;
    position: relative;
}

.flipy .front, .flipy .back{
    backface-visibility: hidden;
    border-radius: 7px;
    position: absolute;
    top: 0;
    left: 0;
}

.flipy .front{
    z-index: 2;
    transform: rotateY(0deg);
}

.flipy .back{
    transform: rotateY(180deg);
    background: #ffffff;
}

.mags{
    margin-top: 25px;
    margin-left: 22px;
}

.mag{
    height: 175px;
    width: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

p{
    font-size: 22px;
    color: black;
    text-align: center;
    padding: 10px;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    font-size: 80px;
}

h2{
    color: white;
    font-family: 'Maven Pro', sans-serif;
    font-size: 50px;
    text-align: center;
}