body{
  width: 100%;
  margin: 0;
}

#main{
  background: url('../pictures/main.jpg');
  display: flex;
}

#main-background{
   width: 100%;
   height: 100%;
}

#nameandtitle{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#name{
  color: white;
  font-size: 65px;
  text-align: center;
  font-family: 'Zilla Slab Highlight', cursive;
}

#title{
  color: white;
  font-size: 65px;
  text-align: center;
}

.information{
  display: flex;
}

.information > div{
  flex: 1;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about{
  padding-left: 60px;
  padding-right: 60px;
}

@media (min-width: 576px){

}

@media (min-width: 768px){

}

@media (min-width: 992px){

}

@media (min-width: 1200px){

}
