.menu {
    float: right;
    display: block;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu:hover{
    background-color: #000000;
    color: #ffffff;
    cursor: hand;
}

.main {
    float: left;
    display: block;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container{
    float:left;
    height:auto;
    width:auto;
    overflow: hidden;
}

.flipy_l {
    height: 550px;
    width: 320px;
    margin: 0 auto;
    float:left;
    margin-left: 20px;
    margin-top: 20px;
    overflow: hidden;
}

.flipy_l img {
    width: 320px;
    height: auto;
    overflow: hidden;
}

.flipy_l .back {
    background: #ffffff;
    color: #000000;
    text-align: center;
}

.flipy_r {
    height: 550px;
    width: 320px;
    margin: 0 auto;
    float:left;
    margin-left: 20px;
    margin-top: 20px;
    overflow: hidden;
}

.flipy_r img {
    width: 320px;
    height: auto;
    overflow: hidden;
}

.flipy_r .back {
    background: #ffffff;
    color: #000000;
    text-align: center;
}

.flipx{
    height: 270px;
    width: 500px;
    margin: 0 auto;
    margin-left: 20px;
    margin-top: 20px;
    overflow: hidden;
}

.flipx img {
    width: auto;
    height: 270px;
    overflow: hidden;
}

.flipx .back {
    background: #ffffff;
    color: #000000;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

p{
    font-size: 22px;
    color: black;
    margin: 30px;
}