.navbar{
  display: flex;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

#logo{
  flex: 3;
  float: left;
}

#navigation{
  flex: 2;
  display: flex;
  float: right;
  width: 33%;
}

.navigation-element{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-right: 10px;
  text-align: center;
  font-size: 22px;
  height: 35px;
  cursor: pointer;
  font-family: 'Noto Sans', sans-serif;
}

.navigation-element:hover{
  border-radius: 6px 4px 6px 4px;
}

.navigation-element span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.navigation-element span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.navigation-element:hover span {
  padding-right: 25px;
}

.navigation-element:hover span:after {
  opacity: 1;
  right: 0;
}
