#image{
    position: absolute;
    left: 8px;
    top: 60px;
}

#content{
    position: absolute;
    left: 360px;
    right: 18px;
    top: 60px;
}

.personal{
    width:23%;
    height: auto;
}

.menu {
    float: right;
    display: block;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main {
    float: left;
    display: block;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

h1{
    font-size: 50px;
    color: white;
}

p{
    font-size: 22px;
    color: white;
}