@import '../../reset';
@import '../../global';

#navbar{
  background: rgba(0, 0, 0, .7);
  transition: top 0.15s ease-in-out;
  position: fixed;
}

#page-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-image: url('../../images/pattern.jpg');
  background-attachment: fixed;
  padding-bottom: 30px;
}

.top{
  padding-top: 15px;
}

.bottom{
  padding-bottom: 5%;
  border-radius: 0px 0px 7px 7px;
  border-style: none none none none;
}

.top-section{
  position: relative;
  display: flex;
  margin-top: 15px;
}

.left{
  flex: 2;
}

.right{
  flex: 3;
}

.institution, .title, .time, .description, .location-link{
  margin-top: 12px;
}

.time, .description{
  font-family: $secondary-font;
}

.location-link{
  display: flex;
  width: 60%;
}

.location, .link{
  flex: 1;
  font-family: $secondary-font;
}

.location:hover, .link:hover{
  text-decoration: underline;
}

@media screen and (min-width: 320px){
  .section{
    padding-top: 40px;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
    width: 86%;
    background-color: white;
  }

  .section-title{
    font-size: 22px;
    font-weight: bold;
    font-family: $primary-font;
  }

  .institution, .title{
    font-size: 16px;
    font-weight: bold;
    font-family: 'FiraSans-Medium', sans-serif;
  }

  #download-group{
    display: none;
  }

  .section{
    margin-top: 18%;
    border-radius: 7px 7px 0px 0px;
    border-style: none none none none;
    border-width: 2px;
  }
}

@media screen and (min-width: 480px){

}

@media screen and (min-width: 600px){

}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 900px){
  #download-group{
    margin-top: 18%;
    display: flex;
    margin-left: 4%;
    width: 71%;
    background-color: #E5E7E9;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 7px 7px 0px 0px;
    border-style: none none none none;
    border-width: 2px;
  }

  .section{
    padding-top: 40px;
    margin-left: 13%;
    padding-left: 2%;
    padding-right: 2%;
    width: 70%;
    background-color: white;
  }

  .section-title{
    font-size: 35px;
    font-weight: bold;
    font-family: 'FiraSans-Medium', sans-serif;
  }

  .institution, .title{
    font-size: 20px;
    font-weight: bold;
    font-family: 'FiraSans-Medium', sans-serif;
  }

  .download{
    margin-right: 10px;
    font-size: 20px;
    height: 35px;
    width: 20%;
    margin-right: 50px;
  }

  #download-group{
    margin-top: 6%;
  }

  .download > img{
    width: 22%;
  }
}

@media screen and (min-width: 1200px){

}
