body{
  width: 100%;
  margin: 0;
}

a{
  text-decoration: none;
}

#page-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 20%;
}

#download-group{
  display: flex;
  margin-left: 35%;
  width: 35%;
}

.section{
  margin-top: 30px;
  margin-left: 15%;
  width: 70%;
}

.download{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  text-align: center;
  font-size: 16px;
  height: 35px;
  width: 20%;
  color: black;
  cursor: pointer;
  font-family: 'Noto Sans', sans-serif;
  margin-right: 50px;
}

.section-title{
  font-size: 25px;
  font-family: 'Noto Sans', sans-serif;
}

.top-section{
  position: relative;
  display: flex;
  margin-top: 20px;
}

.left{
  flex: 2;
}

.right{
  flex: 3;
}

.institution, .title, .time, .description, .location-link{
  margin-top: 12px;
}

.institution, .title{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}

.time, .description{
  font-family: 'Poppins', sans-serif;
}

.location-link{
  display: flex;
  width: 60%;
}

.location, .link{
  flex: 1;
}

a{
  text-decoration: none;
  color: black;
}
