body{
  width: 100%;
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

@font-face {
    font-family: "FiraSans-Medium";
    src: url('../fonts/FiraSans-Medium.otf') format("opentype");
}

@font-face {
    font-family: "Asap-Regular";
    src: url('../fonts/Asap-Regular.otf') format("opentype");
}

#navbar{
  background: rgba(0, 0, 0, .7);
  transition: top 0.15s ease-in-out;
  position: fixed;
}
.top-container{
    margin-top: 7%;
    margin-left: 13%;
    width: 35%;
    padding-left: 19.5%;
    padding-right: 19.5%;
    padding-top: 20px;
    border-radius: 7px 7px 7px 7px;
    border-style: none none none none;
    border-width: 2px;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-title{
  font-size: 3em;
  font-weight: bold;
  font-family: 'FiraSans-Medium', sans-serif;
  padding-bottom: 1em;
}

.section-title{
  font-size: 2em;
  font-weight: bold;
  font-family: 'FiraSans-Medium', sans-serif;
}

.sub-section-title{
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  padding-top: 5%;
  font-family: 'Asap-Regular', sans-serif;
}

.project-role{
  padding-bottom: .5em;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'FiraSans-Medium', sans-serif;
  padding-right: 1em;
}

.project-role-and-links{
  display: flex;
}

.project-detail{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  font-size: 1em;
  font-family: 'Asap-Regular', sans-serif;
}

#project-background{
  margin-left: 13%;
  padding-left: 2%;
  padding-right: 2%;
  width: 70%;
  background-color: white;
}